html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
header{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(/images/jonathan-cosens-photography--at83Qidy7g-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    /* always centered^ */
}
h1{
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}
header a{
    background: whitesmoke;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
.scrollContainer{
    width: 100vw;
    min-height: 60vh;
    overflow: hidden;
}
.scrollText{
    margin: 50vh auto;
    max-width: 50rem;
    /* makes text easier to read */
    padding: 1rem;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
}
#introduction{
    /* background-image: url("https://omicron.aeon.co/images/b1c9cc82-316d-4363-a17f-ae58867e71dc/idea_essay-cole_thomas_the_course_of_empire_destruction_1836.jpg"); */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
